#featured {
    /* Aplicando o nesting, neste caso quero que todas as imagens dentro do container tenha uma altura de 100% da sua caixa e quero que o object fit seja cover, para que a imagem não se estique e mantenha a qualidade. Assim todas as imagens terão o mesmo tamanho no container. */
    img {
        height: 100%;
        object-fit: cover;
        
    }
/* Nessa forma abaixo funciona como se o before estivesse sendo aplicado diretamente no card. Como o before não pode ser iniciando sem um elemento anterior, é necessario adicionar o &. */
    .card {
        position: relative;
        border-radius: 4px;
        /* Esconde o transbordamento, ou seja, tudo que passar da caixa. */
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                /* Primeiro informamos o grau que queremos */
                180deg,
                /* Qual a primeira cor que quero, neste caso sera transparente saindo do 0 */
                transparent 0%,
                /* E agora insiro a cor que irá em seguida do transparente e qual a porcentagem que quero, sendo assim a cor vai sair do transparente até a cor debaixo indo de 0 a 100% */
                #020617 100%
            );
        }

        figcaption {
            position: absolute;
            bottom: 0;

            padding: 24px;

            &:has(.text-lg) {
                padding: 12px;
            }

            h2 {
                margin-top: 8px;
            }
        }
    }
}